.App {
  background-color: lightblue;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 250px;
  padding: 20px;
  color: white;
  text-align: center;
  background-image: url("./header.jpg");
  background-size: cover;
  background-position: center;
  color: rgba(255, 255, 255, 1);
}

.App-main {
  margin: auto;
}

.form-box {
  width: 50%;
  margin: 0 auto;
  margin-top: -120px;
  border-top: solid;
  border-top-width: 8px;
  border-top-color: rgb(49, 178, 219);
  padding: 40px 32px;
  background-color: white;
  align-content: center;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}

.App-title {
  box-sizing: border-box;
  font-size: 30px;
  line-height: 100%;
  max-width: 100%;
  min-width: 0%;
  margin-bottom: 30px;
}

.App-intro {
  font-size: 13px;
  line-height: 130%;
}

.App-footer {
  padding: 30px;
  text-align: center;
    font-size: 12px;
  color: rgb(100, 100, 100);
}

.chart {

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

